html, body {
    height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #474747;
}
h2 {
  font-size: 20px;
}
p {
  font-size: 16px;
}
.container {
  max-width: 900px;
  padding: 0 10%;
}
.about-me {
  margin-top: 30px;
  width: 100%;
}
img {
  width: 100%;
}
.hello {
  color: rebeccapurple;
}
.about h3 {
  font-size: 18px;
}
.contact {
  list-style-type: none;
  padding-left: 0;
  font-size: 18px;
  margin-bottom: 40px;
}
